@model Task2_MillionaireGame.Models.GameViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <h1>
                <label for="level">You are now playing for @Model.Level.CurrentLevel</label>
            </h1>
            <h2>
                <label for="question">@Model.Question.Content?</label>
            </h2>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-info" id="A" value="A" name="answer">@Model.AnswerA.IsCorrect</button>
            </div>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-info" id="C" value="B" name="answer">@Model.AnswerB.IsCorrect</button>
            </div>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-info" id="C" value="C" name="answer">@Model.AnswerC.IsCorrect</button>
            </div>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-info" id="D" value="D" name="answer">@Model.AnswerD.IsCorrect</button>
            </div>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-danger" id="stop" value="stop" name="stop">Take Money!</button>
            </div>
        }
    </div>
</div>
