@model Task2_MillionaireGame.Models.GameViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <h1>
                @Html.HiddenFor(m => Model.Level.Id)
                <label for="Level" name="Level">You are now playing for @Model.Level.CurrentLevel</label>
            </h1>
            <h2>
                @Html.HiddenFor(m => Model.Question.Id)
                <label for="Question" name="Question">@Model.Question.Content</label>
            </h2>
            <br />
            <div class="row-cols-lg-4">
                @Html.HiddenFor(m => Model.AnswerA.Id)
                <button type="submit" class="btn btn-info" id="AnswerA" value=@Model.AnswerA.Id name="answerId">@Model.AnswerA.Content</button>
            </div>
            <br />
            <div class="row-cols-lg-4">
                @Html.HiddenFor(m => Model.AnswerB.Id)
                <button type="submit" class="btn btn-info" id="AnswerC" value=@Model.AnswerB.Id name="answerId">@Model.AnswerB.Content</button>
            </div>
            <br />
            <div class="row-cols-lg-4">
                @Html.HiddenFor(m => Model.AnswerC.Id)
                <button type="submit" class="btn btn-info" id="AnswerC" value=@Model.AnswerC.Id name="answerId">@Model.AnswerC.Content</button>
            </div>
            <br />
            <div class="row-cols-lg-4">
                @Html.HiddenFor(m => Model.AnswerD.Id)
                <button type="submit" class="btn btn-info" id="AnswerD" value=@Model.AnswerD.Id name="answerId">@Model.AnswerD.Content</button>
            </div>
            <br />
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-danger" id="stop" value="stop" name="stop">Take Money!</button>
            </div>
        }
    </div>
</div>
