@model Task2_MillionaireGame.Models.GameViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        @using(Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <h1>
                <label for="level">You are now playing for @Model.Level.CurrentLevel</label>
            </h1>
            <h2>
                <label for="question">@Model.Question.Content?</label>
            </h2>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-info" id="AnswerA" value="@Model.AnswerA" name="answer">@Model.AnswerA.Content</button>
            </div>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-info" id="AnswerB" value="@Model.AnswerB" name="answer">@Model.AnswerB.Content</button>
            </div>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-info" id="AnswerC" value="@Model.AnswerC" name="answer">@Model.AnswerC.Content</button>
            </div>
            <p></p>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-info" id="AnswerD" value="@Model.AnswerD" name="answer">@Model.AnswerD.Content</button>
            </div>
            <div class="row-cols-lg-4">
                <button type="submit" class="btn btn-danger" id="takeMoney" value="TakeMoney" name="takeMoney">@Model.AnswerD.Content</button>
            </div>
        }
    </div>
</div>
